<!DOCTYPE html>
{{ `<!-- baseof.html -->` | safeHTML }}
<html lang="{{.Site.Language.Lang }}">
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head.html" . -}}
    <body>
        {{- block "main" . }}{{- end }}
        {{- /*  {{- partial "js.html" . -}}  */}}
    </body>
</html>
