/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.skill-container {
  display: flex;
}

.skill-container .skill-name {
  font-size: smaller;
}

@media screen and (min-width: 768px) {
  .skill-container .skill-name {
    font-size: medium;
  }
}
.skill-container .skill-percent {
  margin-left: auto;
  font-size: smaller;
  color: #444;
}

.google_translate {
  margin-bottom: 1rem;
}

.goog-te-menu-value {
  font-family: 'Roboto';
}

.goog-te-menu-value img {
  width: unset;
}

.fa-15x {
  font-size: 1.5em;
}
