/* ------------------------------------------------- */
/* Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------------------------------- */
/* Colors */
body {color: #000;          background: #ddd;}
main {                        background: #fff;}
.subtitle  {color: #000;}
.sidebar {                    background: #eee;}

.tag {color: #000;          background-color: #ddd;}

h1 {color: #555;}
h2 {color: #555; border-bottom: 1px solid #ddd;}
.listsimple ::marker {color: #999;}
a, a:link, a:active  {color: #071d8a;}
a:hover              {color: #234426;}

nav ul li a, nav ul li a:link, nav ul li a:hover, nav ul li a:active {color: #000;}
nav ul li:hover  {background: #ddd;}
nav ul li.active {background: #234426;}


/* ------------------------------------------------- */
/* Flexbox */

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

main {
  padding: 2rem;
}


/* ------------------------------------------------- */
/* Inner Flexbox */
.innerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}

.innerLeft {
  /* flex: 0 0 160px; */
  flex: 0 0 120px;
}

.innerRight {
  flex: 1 1 auto;
}

.innerRight p {
  margin: 0 0 0.6rem;
}

/* ------------------------------------------------- */
/* Desktop */

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
  }

  main {
    order: 2;
    flex: 5;
    min-height: 100vh;
  }

  .sidebar {
    order: 1;
    flex: 1.4;
    /* height:100%; */
    /* overflow:scroll; */
  }
}

/* ------------------------------------------------- */
/* Elements */


h1 {
  /* text-transform: uppercase; */
  font-size: 3rem;
  /* letter-spacing: 1.4px; */
}
.subtitle {
  font-style: italic;
  font-weight: 600;
  letter-spacing: 2px;
}

h2 {
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

a, a:link, a:active {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  background-color: #ccc;
}

img {
  width: 100%;
  object-fit: cover;
}

footer {
  margin-top: 2rem;
}

section {
  margin-left: 20px;
}

section h2 {
  margin-left: -20px;
}

.listspecial li {
  margin: 0 0 0.6rem;
}

.listspecial li strong {
  font-weight: 600;
  display: inline-block;
  /* width: 160px; */
  width: 120px;
}

.listsimple li {
  margin: 0 0 0.6rem;
  list-style: disc;
  list-style-position: inside;
}


.list-inline-item {
  display: inline-block;
}

.tag {
  border-radius: 8px;
  text-align: center;
  padding: 1px 4px;
  font-size: smaller;
  line-height: 180%;
}

/* ------------------------------------------------- */
/* Navigaton */

nav {
  position: sticky;
  top: 0px;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li a:link, nav ul li a:hover, nav ul li a:active {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

nav ul li:hover {
  transition: all 200ms ease-in-out;
}

nav ul li.active {
  transition: all 200ms ease-in-out;
}

/* ------------------------------------------------- */
/* print */

@media print {
  h1, h2, h3, h4, h5, h6, .listsimple ::marker, a, a:visited {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
  }
  .fabs, .sidebar, footer, .tag, .list-inline-item {
    display: none;
  }
}

/*******************************************************************************
 * hugo minify
 ******************************************************************************/

.fa, .far, .fas {
  margin-right: 8px;
}

/*******************************************************************************
 * fabs
 ******************************************************************************/
 .fabs {
  position: fixed;
  bottom: 0px;
  right: 0px;
}


.fabs .fas {
  margin-right: 0px;
}
