{{ `<!-- partials/_briefprofile.html -->` | safeHTML }}
{{- $data := (.Scratch.Get "content").BriefProfile }}
{{- with $data }}
  <section id="section-{{ .Title | urlize }}">
    <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
    {{- range $data.Sections }}
      <div class="innerContainer">
        <h3 class="innerLeft">{{ .Name }}</h3>
        <div class="innerRight">
          {{- range .Items }}
            <p>{{ . }}</p>
          {{- end }}
        </div>
      </div>
    {{- end }}
  </section>
{{- end }}
