{{ `<!-- partials/_experience.html -->` | safeHTML }}
{{- $s := slice (.Scratch.Get "content").Experience (.Scratch.Get "content").Projects1 (.Scratch.Get "content").Lecturer1 }}
{{- range $s }}
  {{- with . }}
      <section id="section-{{ .Title | urlize }}">
        <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
        {{- range .Sections }}
          <div class="innerContainer">
            <h3 class="innerLeft">{{ .StartDate }} {{with .EndDate }} <br />-<br/>  {{.}} {{ end }}</h3>
            <div class="innerRight">
              <h3>{{ .Name }}</h3>
              <p><a href="{{ .Website }}" target="_blank" rel="noopener noreferrer">{{ .Empolyer }}</a></p>
              {{- range .Details }}
              <p>{{ . | markdownify }}</p>
              {{- end }}
              <ul class="listsimple">
              {{- range .Items }}
                <li>{{ . | markdownify }}</li>
              {{- end }}
              </ul>
              <p>
              {{- range .Skills }}
                <span class="tag">{{ . }}</span>
              {{- end }}
              </p>
            </div>
          </div>
        {{- end }}
      </section>
  {{- end }}
{{- end }}
