{{ `<!-- partials/_lists.html -->` | safeHTML }}
{{- $s := slice ( (.Scratch.Get "content").Feedbacks) }}
{{- range $s }}
  {{- with . }}
    <section id="section-{{ .Title | urlize }}">
      <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
      {{- range .Sections }}
        <div class="innerContainer">
          <h3 class="innerLeft">{{ .Date }}<br /></h3>
          <div class="innerRight">
            <h3>{{ .Who }}</h3>
            <i>{{ .Feedback | markdownify }}</i>
          </div>
        </div>
      {{- end }}
    </section>
  {{- end }}
{{- end }}
