{{ `<!-- partials/_header.html -->` | safeHTML }}
{{- $data := (.Scratch.Get "content").PersonalData }}
{{- with $data }}
  <h1>{{ .Name }} {{ .Suffix }}</h1>
  <div class="subtitle">{{ .CurrentWorkplace }}</div>
{{- end }}
