{{ `<!-- partials/_lists.html -->` | safeHTML }}
{{- $s := slice (.Scratch.Get "content").Diplomas (.Scratch.Get "content").Languages (.Scratch.Get "content").Organizations (.Scratch.Get "content").Skills (.Scratch.Get "content").Interests }}
{{- range $s }}
  {{- with . }}
    <section id="section-{{ .Title | urlize }}">
      <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
      <ul class="listsimple">
        {{- range .Items }}
          <li>{{ . | markdownify }}</li>
        {{- end }}
      </ul>
    </section>
  {{- end }}
{{- end }}
