{{ `<!-- partials/_personaldata.html -->` | safeHTML }}
{{- $data := (.Scratch.Get "content").PersonalData }}
{{- with $data }}
  <section id="section-{{ .Title | urlize }}">
    <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
    <ul class="listspecial">
      {{- range $data.Contacts }}
        <li><strong><i class="{{ .Icon }}"></i> {{ .Name }}</strong>{{ .Value | markdownify }}
      {{- end }}
      <li><strong><i class=""></i></strong>
        {{- with $.Site.Params.xing }}
          <a href="https://xing.com/profile/{{.}}" target="_blank" rel="noopener noreferrer" title="Xing" class="fab fa-xing fa-15x white-text"></a>
        {{- end }}
        {{- with $.Site.Params.linkedin }}
          <a href="https://linkedin.com/in/{{.}}" target="_blank" rel="noopener noreferrer" title="LinkedIn" class="fab fa-linkedin fa-15x white-text"></a>
        {{- end }}
        {{- with $.Site.Params.github }}
          <a href="https://github.com/{{.}}" target="_blank" rel="noopener noreferrer" title="GitHub" class="fab fa-github fa-15x white-text"></a>
        {{- end }}
        {{- with $.Site.Params.gitlab }}
          <a href="https://gitlab.com/{{.}}" target="_blank" rel="noopener noreferrer" title="GitLab" class="fab fa-gitlab fa-15x white-text"></a>
        {{- end }}
        {{- with $.Site.Params.youtube }}
          <a href="https://youtube.com/{{.}}" target="_blank" rel="noopener noreferrer" title="YouTube" class="fab fa-youtube fa-15x white-text"></a>
        {{- end }}
    </ul>
  </section>
{{- end }}
