{{ `<!-- partials/_skillsprofile.html -->` | safeHTML }}
{{- $s := slice (.Scratch.Get "content").SkillsProfile }}
{{- range $s }}
  {{- with . }}
    <section id="section-{{ .Title | urlize }}">
      <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
      {{ range .Sections }}
        <div class="innerContainer">
          <div class="innerRight">
            <h3>{{ .Area }}</h3>
            {{- range .Skills }}
              <div class="innerContainer" style="margin-bottom: 0.1rem;">
                <p class="innerLeft">{{ .StartDate }} {{with .EndDate }} - {{.}} {{ end }}</p>
                <div class="innerRight">
                  <div class="skill-container">
                    <div class="skill-name">{{ .Skill | markdownify }}</div>
                    <div class="skill-percent">{{ .Level }}%</div>
                  </div>
                </div>
              </div>
            {{- end }}
          </div>
        </div>
      {{- end }}
    </section>
  {{- end }}
{{- end }}
