{{ `<!-- partials/_video1.html -->` | safeHTML }}
{{- $s := slice (.Scratch.Get "content").Video1 }}
{{- range $s }}
  {{- with . }}
      <section id="section-{{ .Title | urlize }}">
        <h2><i class="{{ .Icon }}"></i> {{ .Title }}</h2>
        {{- range .Videos }}
          {{ .Descr }}
          <div class="innerContainer">
            <iframe width="560" height="315"
                    src="https://www.youtube-nocookie.com/embed/{{ .URL}}?si=uPj7iAyuDxbywGjB"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>
          </div>
        {{- end }}
      </section>
  {{- end }}
{{- end }}
