  <!-- partials/google_translate.html -->
  <div class="google_translate" id="google_translate_element"></div>
  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {
            pageLanguage: 'de'
          , layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
          , multilanguagePage: true
        }
        , 'google_translate_element'
      );
    }
  </script>
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
