<!-- partials/google_translate.html -->
<div class="google_translate" id="google_translate_element"></div>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
        pageLanguage: 'de'
        , includedLanguages: 'en'
        //, includedLanguages: 'en,fr,da,ms,zh-CN'
        //, multilanguagePage: true
        , layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        // , layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT
        }
        , 'google_translate_element'
    );
  }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
