{{ `<!-- partials/head.html -->` | safeHTML }}
<meta name="viewport" content="width=device-width, initial-scale=1">  <!--shrink-to-fit=no -->
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">
{{ `<!-- based on the work of Sebastian Pech (https://github.com/spech66/flex-bp-hugo-cv/) -->` | safeHTML }}
{{  hugo.Generator }}
{{/*  <link rel="icon" href="/favicon.ico">  */}}
{{/*
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
*/}}
{{  template "_internal/schema.html" . }}
{{  template "_internal/opengraph.html" . }}
{{  template "_internal/twitter_cards.html" . }}

<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Lebenslauf Bruno Grossniklaus" />
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Lebenslauf Bruno Grossniklaus" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://cv.bruno-grossniklaus.ch/site-feature-image.png" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://cv.bruno-grossniklaus.ch" />


{{- $cssfontawesome := resources.Get "/css/fontawesome-free-5.13.0-web-all.min.css" }}
{{- $cssmain := resources.Get "/css/main.css" }}
{{- $customcss := resources.Get "/css/custom.css" }}
{{- $allcss := slice $cssfontawesome $cssmain $customcss | resources.Concat "/css/vendor.css" | minify | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $allcss.RelPermalink }}" integrity="{{ $allcss.Data.Integrity }}">

{{- range .Site.Params.csscdn }}
    <link rel="stylesheet" href="{{ . }}">
{{- end }}

{{- range .Params.csscdn }}
    <link rel="stylesheet" href="{{ . }}">
{{- end }}

{{- range .Site.Params.css }}
    {{ $pagestyle := resources.Get . | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $pagestyle.RelPermalink }}" integrity="{{ $pagestyle.Data.Integrity }}">
{{- end }}

{{- range .Params.css }}
    {{ $pagestyle := resources.Get . | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $pagestyle.RelPermalink }}" integrity="{{ $pagestyle.Data.Integrity }}">
{{- end }}

<!-- allow easy customization -->
{{- partial "head_custom.html" . -}}
