{{ `<!-- partials/js.html -->` | safeHTML }}
{{- $mainjs := resources.Get "/js/main.js" }}
{{- $customjs := resources.Get "/js/custom.js" }}
{{- $allscript := slice $mainjs $customjs | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>

{{- range .Site.Params.jscdn }}
  <script src="{{ . }}"></script>
{{- end }}

{{- range .Params.jscdn }}
  <script src="{{ . }}"></script>
{{- end }}

{{- range .Site.Params.js }}
  {{- $pagescript := resources.Get . | minify | fingerprint "sha512" }}
  <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

{{- range .Params.js }}
  {{- $pagescript := resources.Get . | minify | fingerprint "sha512" }}
  <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

{{/*- template "_internal/google_analytics_async.html" . */}}
