{{ `<!-- partials/siderbar.html -->` | safeHTML }}
{{- $photoimg := resources.Get "photo.jpg" }}
{{- $alt := "Photo" }}

{{- if gt $photoimg.Width 320 }}
  {{- $image := $photoimg.Resize "320x" }}
  {{/*  <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}" />  */}}
  <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" alt="{{ $alt }}" />
{{- else }}
  <img src="{{ $photoimg.RelPermalink }}" width="{{ $photoimg.Width }}" height="{{ $photoimg.Height }}" alt="{{ $alt }}" />
{{- end }}

<nav>
  <ul>
    {{- $data := (.Scratch.Get "content") }}
    <li><a href="#section-{{ $data.PersonalData.Title | urlize }}"><i class="{{ $data.PersonalData.Icon }}"></i> {{ $data.PersonalData.Title }}</a></li>
    <li><a href="#section-{{ $data.BriefProfile.Title | urlize }}"><i class="{{ $data.BriefProfile.Icon }}"></i> {{ $data.BriefProfile.Title }}</a></li>
    <li><a href="#section-{{ $data.Video1.Title       | urlize }}"><i class="{{ $data.Video1.Icon }}"></i> {{ $data.Video1.Title }}</a></li>
    <li><a href="#section-{{ $data.SkillsProfile.Title | urlize }}"><i class="{{ $data.SkillsProfile.Icon }}"></i> {{ $data.SkillsProfile.Title }}</a></li>
    <!-- <li><a href="#section-{{ $data.Skills.Title | urlize }}"><i class="{{ $data.Skills.Icon }}"></i> {{ $data.Skills.Title }}</a></li> -->
    <li><a href="#section-{{ $data.Projects1.Title | urlize }}"><i class="{{ $data.Projects1.Icon }}"></i> {{ $data.Projects1.Title }}</a></li>
    <li><a href="#section-{{ $data.Lecturer1.Title | urlize }}"><i class="{{ $data.Lecturer1.Icon }}"></i> {{ $data.Lecturer1.Title }}</a></li>
    <!-- <li><a href="#section-{{ $data.Experience.Title | urlize }}"><i class="{{ $data.Experience.Icon }}"></i> {{ $data.Experience.Title }}</a></li> -->
    <li><a href="#section-{{ $data.Feedbacks.Title | urlize }}"><i class="{{ $data.Feedbacks.Icon }}"></i> {{ $data.Feedbacks.Title }}</a></li>
    <li><a href="#section-{{ $data.AcademicEducation.Title | urlize }}"><i class="{{ $data.AcademicEducation.Icon }}"></i> {{ $data.AcademicEducation.Title }}</a></li>
    <!-- <li><a href="#section-{{ $data.ProfessionalTraining.Title | urlize }}"><i class="{{ $data.ProfessionalTraining.Icon }}"></i> {{ $data.ProfessionalTraining.Title }}</a></li> -->
    <li><a href="#section-{{ $data.MilitaryEducation.Title | urlize }}"><i class="{{ $data.MilitaryEducation.Icon }}"></i> {{ $data.MilitaryEducation.Title }}</a></li>
    <li><a href="#section-{{ $data.SchoolEducation.Title | urlize }}"><i class="{{ $data.SchoolEducation.Icon }}"></i> {{ $data.SchoolEducation.Title }}</a></li>
    <!-- <li><a href="#section-{{ $data.FurtherEducation.Title | urlize }}"><i class="{{ $data.FurtherEducation.Icon }}"></i> {{ $data.FurtherEducation.Title }}</a></li> -->
    <li><a href="#section-{{ $data.Diplomas.Title | urlize }}"><i class="{{ $data.Diplomas.Icon }}"></i> {{ $data.Diplomas.Title }}</a></li>
    <li><a href="#section-{{ $data.Languages.Title | urlize }}"><i class="{{ $data.Languages.Icon }}"></i> {{ $data.Languages.Title }}</a></li>
    <!-- <li><a href="#section-{{ $data.Organizations.Title | urlize }}"><i class="{{ $data.Organizations.Icon }}"></i> {{ $data.Organizations.Title }}</a></li> -->
    <li><a href="#section-{{ $data.Interests.Title | urlize }}"><i class="{{ $data.Interests.Icon }}"></i> {{ $data.Interests.Title }}</a></li>
    <li><a href="#section-{{ $data.Lecturer2.Title | urlize }}"><i class="{{ $data.Lecturer2.Icon }}"></i> {{ $data.Lecturer2.Title }}</a></li>
    <li><a href="#section-{{ $data.Projects2.Title | urlize }}"><i class="{{ $data.Projects2.Icon }}"></i> {{ $data.Projects2.Title }}</a></li>
    <li><a href="#section-{{ $data.Contacts2.Title | urlize }}"><i class="{{ $data.Contacts2.Icon }}"></i> {{ $data.Contacts2.Title }}</a></li>
  </ul>
</nav>
