<!DOCTYPE html>
<html>
<head>
  {{ `<!-- 404.html -->` | safeHTML }}
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{{ i18n "error404" }}</title>
  {{- partial "head.html" . -}}
</head>
<body>
  <h1>{{ i18n "error404" }}</h1>
  <a href="{{ "/" | relLangURL }}" class="card-link">{{ i18n "gotohome" }}</a>

  {{- partial "js.html" . -}}
</body>
</html>
