{{- define "main" }}
{{ `<!-- index.html -->` | safeHTML }}

{{- $content := (index .Site.Data .Site.Language.Lang) }}
{{- $content := (index $content "content") }}
{{- .Scratch.Set "content" $content }}

<div class="container">
  <aside class="sidebar">
    {{ partial "sidebar.html" . -}}
  </aside>
  <main>
    {{- partial "google_translate.html" . -}}
    {{- partial "_header.html" . -}}
    {{- partial "_personaldata.html" . -}}
    {{- partial "_briefprofile.html" . -}}
    {{- partial "_video1.html" . -}}
    {{- partial "_skillsprofile.html"  . -}}
    {{- partial "_experience.html" . -}}
    {{- partial "_feedbacks.html" . -}}
    {{- partial "_education.html"  . -}}
    {{- partial "_lists.html" . -}}
    {{- partial "_experience2.html" . -}}
    {{- partial "_contacts.html" . -}}
    {{- partial "_footer.html" . -}}
  </main>
</div>

{{- end }}
